extends ./_base.jade

block beforeHead
    - var demo = 'Gold Effect';

block afterHeader
    p Based on the Happy Buddah Model by <a href="http://graphics.stanford.edu/projects/faxing/happy/">Brian Curless and Marc Levoy - Stanford University</a>.

block content
    canvas#c(style='padding: 1em 0')

block afterScripts
    script.
        jQuery(function($){
            $('#c')
                .normalmap({
                    normalMap: '#{fileRev('gfx/buddah/normal.png')}',
                    ambientMap: '#{fileRev('gfx/buddah/ambient.png')}',
                    antiAliasing: true,
                    singlePass: isMobile,
                    //- baseColorMap: 'gfx/buddah_gold/ambient.png',
                    metalness: 1.0,
                    roughness: 0.25,
                    subSurfaceScattering: 1,
                    baseColor: normalmap.vec3(1.0, 0.6, 0.4),
                    ambient: 1.0
                }).then(function(lights){
                    var i = 0.5;
                    bindLight(lights, { color: normalmap.vec3(i, i, i), zOffset: 1});
                });
        });
